.Objectives-card {
    width: 60%;
    margin: 2rem auto;
}

.what-you-learn {
    width: 70%;
    border: 1px solid #e6e6e6;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.what-you-learn h4 {
    font-weight: bold;
}

.what-to-learn-list-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.learn_target {
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 0.7rem;
    align-items: center;
    font-size: 0.9rem;
    align-items: baseline;
}

.learn_target svg {
    font-size: 1rem;
}

.hidden_view {
    overflow: hidden;
    height: fit-content;
    max-height: 100px;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@media only screen and (max-width: 1080px) {
    .Objectives-card {
        width: 100%;
    }
    .what-you-learn {
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    .what-to-learn-list-flex {
        display: flex;
        flex-direction: column;
    }
}