.tab_container {
    display: flex;
    width: 100%;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.sticky {
    position: fixed;
    z-index: 1000;
}

.tab_section {
    margin: auto;
    width: 60%;
}

.nav-link {
    color: gray;
    padding: 1rem 2rem;
}

.nav-link.active {
    color: black;
    border-bottom: 2px solid black !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.nav-link:hover {
    color: black;
    border-bottom: 2px solid black !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.nav-link,
.nav-link.active {
    font-size: 1rem;
    font-weight: bold;
}

.nav {
    display: flex;
    width: 70%;
    border: 0px;
}

@media only screen and (max-width: 1080px) {
    .tab_section {
        width: 90%;
    }
    .nav-link {
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-link,
    .nav-link.active {
        text-align: center;
        font-size: 1rem;
    }
}