.courses_content {
    padding: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d7dc;
    max-width: fit-content;
    position: relative;
    margin: auto;
}

.courses_content_descreption h2 {
    margin-bottom: 0.8rem;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.courses_content_descreption p {
    width: 80%;
    margin-bottom: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}

.courses_content_descreption {
    margin-bottom: 3.2rem;
    position: relative;
}

.explore {
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    color: black;
    height: 3.5rem;
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;
    margin-top: 1.6rem;
}

.explore:hover {
    background-color: rgba(0, 0, 0, .04);
    color: black;
}

.courses_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.react-multi-carousel-track {
    margin: auto !important;
}

.react-multi-carousel-item,
.react-multi-carousel-item--active,
.react-multi-carousel-track {
    position: relative !important;
}

.react-multiple-carousel__arrow {
    top: 20%;
}

.react-multiple-carousel__arrow--left {
    left: 0% !important;
}

.react-multiple-carousel__arrow--right {
    right: 0% !important;
}

@media screen and (max-width: 1400px) {
    .courses_content {
        width: 70%;
    }
}

@media screen and (max-width: 1300px) {
    .courses_content {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .courses_content {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .courses_content {
        padding: 1rem;
    }
    .courses-header {
        display: none;
    }
    .courses_content_descreption {
        display: none;
    }
    .courses_cards {
        justify-content: center;
    }
    .react-multiple-carousel__arrow {
        width: 2rem !important;
        min-height: fit-content !important;
        min-width: fit-content !important;
        top: 25%;
    }
}