.footer {
    background-color: #1c1d1f;
    padding: 2rem;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}

.topFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Globe_Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

._links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

._links>a {
    color: white;
    text-decoration: none;
    font-size: 90%;
}

._links>a:hover {
    color: white;
    text-decoration: underline;
}

.button {
    order: -1;
}

.button>button {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    width: 10rem;
    padding: 0.5rem;
}

.bottomFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.bottomFooter>img {
    width: 100px;
    margin-top: 20px;
}

.bottomFooter>p {
    color: white;
    font-size: 80%;
}

.forSticky {
    height: 50px;
}

@media screen and (min-width: 701px) {
    .topFooter {
        flex-direction: row;
        justify-content: space-between;
    }
    .button {
        order: 1;
    }
    .bottomFooter {
        flex-direction: row;
        justify-content: space-between;
    }
    .bottomFooter>p {
        margin-top: 40px;
    }
}