._footer {
    margin-top: 5rem;
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 10rem;
    padding: 0 2rem;
}

.left_footer {
    position: relative;
}

.left_footer img {
    position: absolute;
    bottom: 30%;
}

.right_footer {
    color: white;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_footer p {
    color: white;
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
}

#_language_footer {
    color: white;
    display: flex;
    flex-grow: 0.2;
    width: 10rem;
    background-color: black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    align-items: center;
    border: 1px solid white;
    padding-left: 1.5rem;
}

@media only screen and (max-width: 500px) {
    ._footer {
        flex-direction: column;
        height: 16rem;
        justify-content: space-evenly;
    }
    .left_footer img {
        position: relative;
    }
    .right_footer {
        margin: 0;
        padding: 0;
        gap: 2rem;
    }
}