.courses-tab-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2rem;
    margin: 1rem auto;
    font-size: 1rem;
    width: 70%;
}

.courses-tab-section label {
    font-weight: bold;
    color: grey;
    cursor: pointer;
}

.courses-tab-section>input[type="radio"] {
    display: none;
}

.courses-tab-section>input[type="radio"]:checked+label {
    color: black;
}

.courses-tab-section>input[type="radio"]:hover+label {
    color: black;
}

@media only screen and (max-width: 1200px) {
    .courses-tab-section {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .courses-tab-section {
        font-size: 0.8rem;
        gap: 1rem;
    }
}