.course-content {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    margin: 0 auto;
}

.section-header {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: solid 1px #d1d7dc;
    padding: 10px;
    background-color: #f7f9fa;
    padding: 15px;
}

.section-header-title {
    font-weight: bold;
}

.section-header-title svg {
    margin-right: 10px;
    margin-left: 10px;
}

.section-header-title:hover {
    cursor: pointer
}

.section-details {
    border-right: solid 1px #d1d7dc;
    border-left: solid 1px #d1d7dc;
    padding: 15px;
    width: 70%;
}

.col-1,
.col-2 {
    text-align: center;
}

.show-more-less-btn {
    width: 70%;
    border: solid 1px black;
    padding: 10px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
}

.show-more-less-btn:hover {
    cursor: pointer
}

.is_preview {
    color: #a435f0;
    text-decoration: underline;
}

.courses-content-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.details {
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
}

.col-8 {
    width: 62%;
}

.section-header-info {
    min-width: fit-content;
}

@media only screen and (max-width: 1080px) {
    .course-content {
        width: 100%;
    }
    .section-header,
    .courses-content-header,
    .course-content p,
    .section-details {
        width: 90%;
        margin: 0.5rem auto;
    }
    .show-more-less-btn {
        width: 90% !important;
        margin: 0.5rem auto !important;
    }
}

@media only screen and (max-width: 500px) {
    .section-header-title {
        font-size: 0.8rem;
    }
    .section-details {
        font-size: 0.7rem;
    }
    .section-header {
        display: flex;
        flex-flow: column;
    }
    .section-header-info {
        font-size: 0.8rem;
        margin: 0rem 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .section-details {
        font-size: 0.6rem;
    }
    .col-8 {
        width: 55%;
    }
}