.courses-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2rem;
    margin: 1rem;
    font-size: 1rem;
}

.courses-tab label {
    font-weight: bold;
    color: grey;
    cursor: pointer;
}

.courses-tab>input[type="radio"] {
    display: none;
}

.courses-tab>input[type="radio"]:checked+label {
    color: black;
}

.courses-tab>input[type="radio"]:hover+label {
    color: black;
}

@media only screen and (max-width: 500px) {
    .courses-tab {
        font-size: 0.8rem;
        gap: 1rem;
    }
}